$aui-breakpoint-sm: 320px !default;
$aui-breakpoint-md: 768px !default;
$aui-breakpoint-lg: 1024px !default;
$aui-breakpoint-xl: 1280px !default;

$aui-default-bg-color: #fff !default;
$aui-default-font-color: #000 !default;
$aui-default-alt-bg-color: #ccc !default;
$aui-default-alt-font-color: #000 !default;

$aui-theme-dark-bg-color: #333 !default;
$aui-theme-dark-font-color: #fff !default;
$aui-theme-dark-alt-bg-color: #000 !default;
$aui-theme-dark-alt-font-color: #fff !default;

$aui-shadow-color-12: rgba(0, 0, 0, .125) !default;
$aui-shadow-color-25: rgba(0, 0, 0, .25) !default;
$aui-shadow-color-50: rgba(0, 0, 0, .5) !default;
