@import '~@fontsource/open-sans/300.css';
@import '~@fontsource/open-sans/400.css';

$column-bg-color: #ccc;
$column-border-color: #999;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

.column-example {
  background-color: $column-bg-color;
  border: 1px solid $column-border-color;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
}

.dialog-title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

.show-dialog-button {
  display: block;
  margin: 1rem 0;
}

.header-title {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}
