@import '~@fontsource/open-sans/300.css';
@import '~@fontsource/open-sans/400.css';

$column-bg-color: #ccc;
$column-border-color: #999;
$carousel-bg-color: #339;
$carousel-font-color: #fff;
$carousel-border-color: #ccc;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

.column-example {
  background-color: $column-bg-color;
  border: 1px solid $column-border-color;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
}

.dialog-title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

.show-dialog-button {
  display: block;
  margin: 1rem 0;
}

.header-title {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

.open-drawer-button {
  display: block;
  margin-bottom: 1rem;
}

.close-drawer-button {
  float: right;
  margin-left: 1rem;
}

.slide-example {
  border-radius: .5rem;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
  padding: 5rem 1rem;
  text-align: center;
}

.slide-button {
  margin-right: 1rem;
}

.carousel-controller {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.carousel-example {
  border-radius: .5rem;

  .slide-example {
    background-color: $carousel-bg-color;
    color: $carousel-font-color;
  }
}

.carousel-frame {
  border: .25rem solid $carousel-border-color;
  border-radius: .5rem;
  box-sizing: border-box;
  overflow: hidden;
}
